Flask==3.0.3
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
Pillow==10.3.0
psycopg2==2.9.9  # Alterado de psycopg2-binary para compilação no Render
PyJWT==2.8.0
python-dotenv==1.0.1
requests==2.31.0
bcrypt==4.1.2
marshmallow==3.21.3
SQLAlchemy==2.0.30
gunicorn==22.0.0